<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/ejercicio1.css">
    <title>Ejercicio 1</title>
</head>
<body>
    <h1>Ejercicio 1</h1>
    <form method="post" action="{{ url_for('ejercicio1') }}">
        <label for="nota1">Nota 1 (10-70):</label>
        <input type="number" name="nota1" min="10" max="70" required><br>

        <label for="nota2">Nota 2 (10-70):</label>
        <input type="number" name="nota2" min="10" max="70" required><br>

        <label for="nota3">Nota 3 (10-70):</label>
        <input type="number" name="nota3" min="10" max="70" required><br>

        <label for="asistencia">Asistencia (0-100%):</label>
        <input type="number" name="asistencia" min="0" max="100" required><br>

        <input type="submit" value="Enviar">
        <h1>Resultado</h1>
    <p>Promedio: {{ promedio }}</p>
    <p>Estado: {{ estado }}</p>
    <a href="{{ url_for('index') }}">Volver al inicio</a>
    </form>
</body>
</html>